$active-color: rgba(17, 176, 86);
$closed-color: red;

.exp-preview-wrapper{
    display: flex;
    flex-flow: column;
    padding: 2rem 2.5rem;
    border-radius: 2rem;
    border: 2px solid rgba($color: silver, $alpha: 0.5);
    box-shadow: 0.15rem 0.25rem 1.25rem rgb(0 0 0 / 15%);  // 0 0.25rem 0.75rem rgb(0 0 0 / 15%)
    background: white;

    visibility: hidden;
    opacity: 0;
    transition: opacity 600ms ease;
    &.show{
        visibility: visible;
        opacity: 1;
    }

    &.active{
        border-color: rgba($color: $active-color, $alpha: 0.5);
    }
    &.closed{
        border-color: rgba($color: $closed-color, $alpha: 0.5);
    }
}

.preview-header{
    display: flex;
    justify-content: space-between;
}

.status-container{
    font-size: 2rem;
    .active{
        color: $active-color;
        & > i{
            font-size: 1.5rem;
            transform: translateY(-2px);
            padding-right: 5px;
        }
    }
    .closed{
        color: $closed-color;
    }
}
.status{
    font-weight: bold;
    text-transform: capitalize;
}

.end-exp-btn{
    margin-left: 8px;
    margin-bottom: 4px;
    padding: 3px 13px 3px 14px;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0.1rem 0.25rem 0.15rem rgb(0 0 0 / 35%);
}

.links-container{
    display: flex;
    gap: 3rem;
}

/* Body */
.preview-body{
    flex: 1 1 auto; // Takes the remaining height of "exp-preview-wrapper"
    margin-top: 10px;
}
.title, .description{
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.title{
    font-size: 2rem;
    font-weight: 700;
    -webkit-line-clamp: 2;
}
.description{
    margin-top: 5px;
    font-size: 1.7rem;
    // font-weight: 700;
    -webkit-line-clamp: 3;
}

/* Footer */
.footer{
    margin-top: 10px;
    font-size: 1.6rem;
}
.date-participants-container{
    display: flex;
    gap: 5%;
}
.date{
    font-weight: bold;
    div{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    i{
        font-size: 1.2rem;
        opacity: 0.9;
        &.start{
            color: $active-color;
        }
        &.end{
            color: $closed-color;
        }
    }
}
.code-container{
    margin-top: 5px;
    text-align: left;
    .code-title{
        font-weight: 700;
    }
}
.copy-code-btn{
    padding: 2px 4px;
    margin-left: 6px;
    margin-bottom: 5px;
}






