.page-wrapper{
  text-align: center;
  margin: 0 8%;
  @media (max-width: 1500px) {
    margin: 0 5%;
  }
}

h1{
  font-size: 3rem;
  color: white;
}

.config-title{
  display: inline-block;
  padding-right: 15px;
  color: white;

}

form{
  width: 100%;
}

.form-control{
  font-size: 0.8em;
}

.form-content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content-container{
  min-width: 100%;
}

.form-inline-groupes-container{
  width: 70%;
  // font-size: 10px;
  @media (max-width: 1100px) {
    width: 100%;
  }
}
  
.inline-input-group{
  font-size: 2.2rem;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 5fr;
  // column-gap: 0.1em;
}

.invite-colab-container{
  font-size: 2.2rem;
  text-align: left;
  span{
    color:grey;
    font-style: italic;
  }
}

.groups-manager-title{
  font-size: 2.2rem;
  text-align: left;
  span{
    color:rgb(27, 149, 224);
  }
}


.buttons-container{
  button{
    margin: 0 .3rem;
    font-size: 2.2rem;
    font-weight: 600;
  }
}